//- Навигационная панэль
    bg - faded, primary, success, info, warning, danger, inverse
    light - Светлая?
mixin navbar(bg, light)
    nav.navbar(class='bg-' + bg + ' navbar-' + (light ? 'light' : 'dark'))&attributes(attributes)
        block

//- Логотип
    href - Ссылка
mixin navbar-brand(href)
    +link(href).navbar-brand&attributes(attributes)
        block

//- Обертка меню навигационной панэли
mixin navbar-nav-wrap
    +nav-wrap.navbar-nav&attributes(attributes)
        block

//- Меню навигационной панэли
    items - Элементы меню
mixin navbar-nav(items)
    +navbar-nav-wrap&attributes(attributes)
        +nav-menu(items)

//- Кнопка открытия навигационной панэли
    target - Идентификатор блока к которому относиться
    breakpoint - Контрольная точка для скрытия кнопки
mixin navbar-toggler(target, breakpoint)
    button.navbar-toggler(
    type="button"
    data-toggle="collapse"
    class=(breakpoint ? 'hidden-' + breakpoint + '-up' : '')
    data-target='#' + target
    )&attributes(attributes)
        | &#9776;

//- Скрываемый контент навигационной панэли
    id - Идентификатор
    breakpoint - Контрольная точка для скрытия
mixin navbar-collapse(id, breakpoint)
    .collapse.navbar-collapse(class=(breakpoint ? 'navbar-toggleable-' + breakpoint : ''), id=id)&attributes(attributes)
        block

//- Скрываемая навигационная панэль
    id - Идентификатор блока с меню
    bg - faded, primary, success, info, warning, danger, inverse
    light - Светлая?
mixin navbar-collapsed(id, bg, light)
    +navbar(bg, light)&attributes(attributes)
        +navbar-toggler(id, 'sm')
        +navbar-collapse(id, 'xs')
            block

