//- Подключение js
mixin js(src)
    if src
        script(src=src + '.js', defer)&attributes(attributes)
    else
        script&attributes(attributes)
            block

//- Подключение css
mixin css(src)
    if src
        link(href=src + '.css', rel="stylesheet")&attributes(attributes)
    else
        style&attributes(attributes)
            block

//- Подключение иконки
mixin favicon(href)
    link(rel="shortcut icon", href=href)&attributes(attributes)

//- Указание кодировки
mixin charset(charset)
    - if(!charset) charset = 'utf-8'
    meta(charset=charset)&attributes(attributes)

//- Управление индексацией
mixin robots(content)
    meta(name="robots", content=content)&attributes(attributes)

//- Указание описания
mixin description(content)
    meta(name="description", content=content)&attributes(attributes)

//- Указание ключевых слов
mixin keywords(content)
    meta(name="keywords", content=content)&attributes(attributes)

//- Указание автора
mixin author(content)
    meta(name="author", content=content)&attributes(attributes)

//- Управление режимом совместимости IE
mixin compatible(IE)
    - if (!IE) IE = 'edge'
    meta(http-equiv="x-ua-compatible", content='ie=' + IE)&attributes(attributes)

//- Управление размером области просмотра
mixin viewport(viewport)
    - if (!viewport) viewport = 'width=device-width, initial-scale=1, shrink-to-fit=no'
    meta(name="viewport", content=viewport)&attributes(attributes)

//- Подгрузка bootstrap стилей через cdn
mixin bootstrap-css-cdn
    +css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min')(integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd", crossorigin="anonymous")

//- jQuery CDN
mixin jquery-cdn
    +js('https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min')

//- Tether CDN
mixin tether-cdn
    +js('https://cdn.jsdelivr.net/tether/1.2.0/tether.min')

//- Подгрузка bootstrap скриптов через cdn
mixin bootstrap-js-cdn
    +js('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min')(integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7", crossorigin="anonymous")

//- Подключение шрифта Font Awesome
mixin font-awesome-cdn
    +css('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min')

mixin open-iconic-cdn
    +css('https://cdn.jsdelivr.net/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min')

//- Добавление мета тэгов
mixin head
    head
        +charset
        +compatible
        +viewport

        block

